.navbar {
    background-color: #333; /* Background color */
    overflow: hidden;

    width: 100%; 
    position: fixed; /* Fixed position */
    top: 0; /* Stick to the top */
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center horizontally */
    z-index: 1000; /* Ensure navbar is above other content */
  }
  
  .navbar-brand {
    color: #f2f2f2; /* Text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px; /* Font size */
    margin-right: 1000px;
  }
  
  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    display: flex; /* Use flexbox for alignment */
    margin-right: 250px;
  }
  
  .nav-item {
    margin: 0 25px; /* Add spacing between nav items */
  }
  
  .nav-link {
    color: #f2f2f2; /* Text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

   