.members-table {
    /* width: 100%; */
    border-collapse: collapse;
    margin-left: 25px;
}

.members-table th, .members-table td {
    border: 1px solid #ddd;
    padding: 8px;
    /* width: 100%; */
    /* text-align: left; */
}

.members-table th {
    background-color: #818080;
    color: white;
}

.number-column {
    width: 30px; /* Set the desired width */
    text-align: center; /* Align text to the center */
}

.members-table input[type="number"] {
    padding: 5px;
    text-align: center;
}

.members-table input[type="number"]:read-only {
    background-color: #f2f2f2;
    text-align: center;
}

.project-name {
    font-size: 30px;
    font-weight: bolder;
    margin-left: 25px;
    margin-top: 20px;
    list-style: none;
}

.members {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
    list-style: none;
}

.member {
    font-size: 30px;
    font-weight: bolder;
    margin-left: 25px;
}

.heading-project {
    display: flex;
}

.assign {
    background-color: teal;
    border-radius: 5px;
    padding: 5px;
    color: white;  
    margin-left: 110px;
    margin-top: 20px;
    width: 80px;
}

.assign:hover {
    background-color: rgb(97, 184, 62);
}

.tl-dropdown {
    border: 1px solid black;
    width: 100%;
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 2px;
}

.tl-member-dropdown {
    border: 1px solid black;
    width: 170px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 2px;
}

.tl {
    margin-left: 15px;
}

.select-date-input {
    border: 1px solid black;
    width: 170px;
    margin-left: 10px;
    margin-top: -10px;
    border-radius: 2px;
}

.selected-date {
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;

}

.members li input[type="number"] {
    margin-left: 10px;
    width: 100px;
    padding: 5px;
}

/* Add this to your CSS file */
.horizontal {
    display: flex;
    flex-wrap: wrap;
  }
  
  .horizontal li {
    margin-right: 10px; /* Adjust as needed for spacing */
    list-style: none; /* Optional: remove bullets */
  }
  
  /* Add this to your CSS file */
.members-horizontal {
    margin-left: 15px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px; /* Adjust as needed for spacing */
    list-style: none; /* Optional: remove bullets */
    padding: 0; /* Remove default padding if any */
  }
  
  .members-horizontal li {
    /* Optional: add some padding or styles to li elements */
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
  }
  

  .remarks-header {
    background-color: rgb(0, 0, 0);
  }
  