.project-name {
    font-size: 30px;
    font-weight: bolder;
    margin-left: 25px;
    margin-top: 20px;
    list-style: none;
}

.members {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
    list-style: none;
}

.member {
    font-size: 30px;
    font-weight: bolder;
    margin-left: 25px;
}

.heading-project {
    display: flex;
}

.assign{
    background-color: teal;
    border-radius: 5px;
    padding: 5px;
    color: white;  
    margin-left: 110px;
    margin-top: 20px;
    width: 80px;
}

.assign:hover{
    background-color: rgb(97, 184, 62);
}

.tl-dropdown{
    border: 1px solid black;
    width: 170px;
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 2px;
}

.tl-member-dropdown{
    border: 1px solid black;
    width: 170px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 2px;
}

.tl{
    margin-left: 15px;
}

.select-date-input{
    border: 1px solid black;
    width: 170px;
    margin-left: 10px;
    margin-top: -10px;
    border-radius: 2px;
}